.raid {
  color: rgb(93,109,126);
  font-size: 12px;
  font-weight: 900;
  margin-bottom: 5px;

  &.countdown {

    &:before {
      content: '\f017';
      display: inline-block;
      font-family: FontAwesome;
      margin: 0px 0px 0px -2px;
      height: 16px;
      width: 16px;
      -webkit-font-smoothing: antialiased;
    }
  }

  &.encounter {
    font-size: 14px;
    font-weight: 500;

    &.cp {
      font-weight: 900;
    }

    &.moveset {
      font-size: 12px;

      &.move {
        font-weight: 900;
      }
    }
  }

  &.pokemon.name {
    font-size: 14px;
  }
}
